PORT=4000
FRONTEND_URL=http://localhost:3000
ADMIN_SECRET=Rbaj72Baj9No82Hsj
MONGODB_URI=mongodb://127.0.0.1:27017/cuscus-hats
BRAND_URL=https://cuscushats.com
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
